*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.669)), url("../media/PerfectWebBannerAdfeaturedimage1.webp");
    background-color: 0, 0, 0, 0.812;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
    margin-left: 400px;
    padding: 0;

    overflow: hidden;
}
li{
    float: left;
    padding: 30px;
    color: white;
    font-size: 20px;

   
  
  
}
li a{
    text-decoration: none;
    color: white;
    background-color: rgb(72, 101, 129);
    padding: 5px;
    border-radius: 5px;

}
li a:hover{
    color: red;
    background-color: rgb(163, 228, 228);
  transition: 0.3s ease-in;
}
.banner{
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.content{
    color: #ffffffce;
    text-align: center;
    width: 70%;
}
.content h2{
    font-size: 54px;
    color: #db714e;
    text-transform: uppercase;
}
.content p{
    font-size: 23px;
    margin: 15px 0;
}
.content button{
    background-color: #04aa6d;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    padding:15px 30px ;
    font-size: 15px;
    cursor: pointer;
}
.content button:hover{
    background-color: #068806;
    transition: 0.5s ease-in;
}